astropy~=5.1.1
bokeh~=3.0.2
matplotlib~=3.6.2
numpy~=1.23.5
pandas~=1.4.4
svgpath2mpl~=1.0.0
PyYAML~=6.0
python-dateutil~=2.8.2
scipy~=1.9.3
tqdm~=4.64.1
spiceypy~=5.1.2
scikit-learn~=1.1.3
pdf2image~=1.16.0
setuptools~=67.8.0
click~=8.1.3

papy @ git+https://github.com/gpelouze/papy@v2022.8.24
spice-stew @ git+https://github.com/gpelouze/spice_stew@v2022.12.01
spice-jitter-correction @ git+https://github.com/gpelouze/spice_jitter_correction@v2022.12.01
eui-selektor-client @ git+https://github.com/gpelouze/eui_selektor_client@v2023.5.12
align-images @ git+https://github.com/gpelouze/align_images@v2022.7.11